.article{
    padding:34px 13px 30px 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (width>768px) {
        padding:37px 39px 60px 37px;
    }

    @media (width>1280px) {
        padding:37px 168px 50px 168px;
    }

    &_title{
        color: var(--principal-color);
        font-size:1.4rem;
        line-height: 2.14;
        font-family: "Roboto", sans-serif;

        @media (width>768px) {
            font-size:1.6rem;
            line-height: 1.88;
        }
    }
        &_intro-title{
            font-size: 2.2rem;
            font-weight: bold;
            line-height: 1.36;
            color: black;

            @media (width>768px) {
                font-size:3.2rem;
                line-height: 1.41;
            }
        }

        &_intro-text{
            font-size: 1.8rem;
            line-height: 1.67;
            color: #4a4a4a;
            font-family: "Roboto", sans-serif;

            @media (width>768px) {
                font-size:2rem;
                line-height: 1.5;
                padding-top: 5px;
            }

            @media (width>1280px) {
                padding-top: 10px;
            }
        }

    &_button{
        border-radius: 22.5px;
        background-color: white;
        color: var(--principal-color);
        width: 160px;
        height: 45px;
        border: 2px solid var(--principal-color); 
        font-size: 2rem;
        line-height: 2.25;
        margin-top: 40px;
        font-family: "Roboto", sans-serif;
    }
    
    &_button:hover{
        background-color: var(--principal-color) ;
        color: white;
        transition: 0.2s;
        transform: scale(1.2);
    }

        @media (width>768px) {
            margin-top: 25px;
        }

        @media (width>1280px) {
            margin-top: 40px;
        }
}


