.products{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: var(--module-3-bg);

    &_text{
        color:#626262;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2.5;
    }

    &_title{
        color:black;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.5;
    }

    &_button{
        width: 184px;
        height: 47px;
        border: none; 
        background-color: var(--principal-color);
        border-radius: 22.5px;
        color: white;
        font-size: 1.8rem;
    }
}