.products{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    background-color: var(--module-3-bg);
    padding-top: 18px;
    padding-bottom: 30px;

    &_text{
        color:#626262;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2.5;
    }

    &_title{
        color:black;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.5;
    }

    &_button{
        width: 184px;
        height: 47px;
        border: none; 
        background-color: var(--principal-color);
        border-radius: 22.5px;
        color: white;
        font-size: 2rem;
        line-height: 2.25;
        margin: auto;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    }
}