<footer class="footer">
    <nav class="footer_img">
        <a href="#hero"><img class="footer_img-link" src="/images/ico-arrow.svg" alt="flecha hacia arriba"></a>
    </nav>
    <section class="footer_flex">
        <nav class="footer_flex-links">
            <ul class="list">
                <li><a class="links" href="https://adalab.es/" target="_blank">ZAPATILLAS</a></li>
                <li><a class="links" href="https://adalab.es/" target="_blank">ROPA</a></li>
                <li><a class="links" href="https://adalab.es/" target="_blank">NIÑO/A</a></li>
                <li><a class="links" href="https://adalab.es/" target="_blank">DESTACADOS</a></li>
                <li><a class="links" href="https://adalab.es/" target="_blank">TIPS</a></li>
            </ul>
        </nav>
        <nav class="footer_flex-links">
            <ul class="list">
                <li><a class="links" href="https://adalab.es/" target="_blank">TWITTER</a></li>
                <li><a class="links" href="https://adalab.es/" target="_blank">INSTAGRAM</a></li>
                <li><a class="links" href="https://adalab.es/" target="_blank">YOUTUBE</a></li>
            </ul>
        </nav>
        <section class="footer_flex-copy">
            <p>&copy;2024</p>
            <p>we 💚 run</p>
        </section>
    </section>
</footer>