<footer class="footer">
    <nav class="footer_img">
        <a href="#hero"><img class="footer_img-link" src="/images/ico-arrow.svg" alt="flecha hacia arriba"></a>
    </nav>
    <nav class="footer_links">
        <ul class="list">
            <li><a class="links" href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a class="links" href="https://adalab.es/">ROPA</a></li>
            <li><a class="links" href="https://adalab.es/">NIÑO/A</a></li>
            <li><a class="links" href="https://adalab.es/">DESTACADOS</a></li>
            <li><a class="links" href="https://adalab.es/">TIPS</a></li>
        </ul>
    </nav>
    <nav class="footer_links">
        <ul class="list">
            <li><a class="links" href="https://adalab.es/">TWITTER</a></li>
            <li><a class="links" href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a class="links" href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </nav>
    <section class="footer_copy">
        <p>&copy;2024</p>
        <p>we 💚 run</p>
    </section>
</footer>