<header class="header" id="hero">
    <nav class="header_menu">
        <a class="header_menu-link" href="https://adalab.es/" target="_blank">
            <img class="link_img" src="/images/ico-menu.svg" alt="imagen menú hamburguesa">
        </a>
    </nav>
    <article class="header_article">
        <h1 class="header_article-title">COMIENZOS COMPARTIDOS</h1>
        <p class="header_article-text">Todo lo que necesitas para volver al cole con ilusión</p>
    </article>
    <nav class="header_arrow">
        <a href="#school"><img class="arrow_img" src="/images/ico-scroll-down.svg" alt="flecha hacia abajo"></a>
    </nav>
    
</header>