<section class="products" id="school">
    <p class="products_text">¡Prepáralos con tus marcas favoritas!</p>
    <h2 class="products_title">VUELTA AL COLE</h2>
    <load scr="/partials/cards.html" img="/images/lpbts-mod05-img01-desk.png" text-img="Niña con mochila sonriendo" text="Mochilas escolares"/>
    <load scr="/partials/cards.html" img="/images/lpbts-mod05-img04-mob.png" text-img="Niño jugando y riendo" text="Estuches"/>
    <load scr="/partials/cards.html" img="/images/lpbts-mod05-img03-mob.png" text-img="Niña con mochila sonriendo" text="Bolsas de deporte"/>
    <button class="products_button">Empezar ahora</button>
</section>